img {
    width: 100%;
    height: 50vh;
    object-fit: fill;
  }
  
  img.ng-lazyloaded {
    animation: fadein 0.5s;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.container {
	position: relative;
	text-align: center;
	color: white;
}
.bottom-left {
	position: absolute;
	bottom: 8px;
	left: 16px;
}
.top-left {
	position: absolute;
	top: 8px;
	left: 16px;
}
.top-right {
	position: absolute;
	top: 8px;
	right: 16px;
}
.bottom-right {
	position: absolute;
	bottom: 8px;
	right: 16px;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


